# https://editorconfig.org

# top-most EditorConfig file
root = true

[*]

# set default charset
charset = utf-8

# indentation override
indent_style = space
indent_size = 2

# soft line wrapping
max_line_length = 120

# unix-style newlines with a newline ending and
end_of_line = lf
insert_final_newline = true

# remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true
