<footer>
    <address>
        <p class="fparagraph firstparagraph"><i class="fas fa-map-pin"></i> Find us on Dezmir, street Panoramic, no. 7, county of Cluj.</p>
        <p class="fparagraph"><i class="fas fa-phone"></i> Phone: 0753.959.997</p>
        <p class="fparagraph lastparagraph"><i class="fas fa-envelope-square"></i> Email: case@dezmir.ro</p>
    </address>
</footer>