<div class="navcontainer">
    <div class="logo">
        <a href="/">
            <img src="/static/images/logo2.png" alt="logo" class="image" />
        </a>
    </div>
    <div class="navbar">
        <ul>
            <li>
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li>
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li>
                <a class="nav-link contact-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>