<ul>
    <li>
        <a href="/">
            <img src="/static/images/logo.png" alt="logo" />
        </a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/register">Register</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
</ul>
