<header class="hcontact">
    <h1>Contact</h1>
</header>
<div class="container">
    <form action="/contact" method='POST'>
        {{#if message}}
        <span>{{message}}</span>
        {{/if}}
        <div class="sheader">
            <h2>Sent us a message</h1>
            <hr>
            <p>For further information please compile this form.</p>
        </div>
        <div class="user-info">
            <input id="firstname" type="text" name="firstName" placeholder="First Name">
            <input id="lastname" type="text" name="lastname" placeholder="Last Name" required>
            <input id="email" type="email" name="email" placeholder="Email" required>
            <input id="phone" type="tel"  name="phone" placeholder="Phone" required>
        </div>
        <div class="textarea">
            <textarea name="message" id="textarea" cols="30" rows="10" placeholder="Write your message here" required></textarea>
        </div>
        <button id="submit" type="submit">Submit</button>
    </form>
    <div class="advert-container">
        <div class="advert">
            <img class="contact firstcontact" src="/static/images/phone.png" alt="">
            <h3 class="aheader">Call us</h3>
            <p>0753.959.997</p>
        </div>
        <div class="advert">
            <img src="/static/images/email.jpg" alt="" class="contact">
            <h3 class="aheader">Email us</h3>
            <p>case@dezmir.ro</p>
        </div>
        <br>
        <br>
        <div class="advert">
            <h3>Stay conected whit us:</h3>
            <a href="https://www.facebook.com/giulean.dan" target="#blank"><img src="/static/images/facebook.jpg" alt="" class="contact" ></a>
        </div>
    </div>
</div>
