<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/styles/normalize.css" />
        <link rel="stylesheet" href="/static/styles/main.css" />
        <link rel="stylesheet" href="/static/styles/contact.css">
    </head>
    <body>
        {{> navigation}}
        {{{body}}}
        <script type="text/javascript" src="/static/scripts/main.js"></script>
    </body>
</html>
